<ul>
	<li>Platform : {{platform}} 
	<li>Developer
		{{#developer}}
		<ul>
			<li>Name : {{name}}</li>
			<li>Company : {{#company}}{{companyName}}{{/company}}</li>
			<li>Family
				{{#family}}
				<ul>
					<li>{{> person}}</li>
				</ul>
				{{/family}}
			</li>
		</ul>
		{{/developer}}
	</li>
</ul>
